@font-face {
    font-family: 'MyFont';
    src: url('./The West Gate.ttf'), url('./my-font.ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    background: url('./icon.png');
    font-family: 'MyFont';
}
